nav{
    color: #bf360c;
    background-color: #fff;
    margin-bottom: 2%;
    box-shadow: 0 2px 5px 0 #ff7043;
}

nav .brand-logo{
    color: #bf360c;
}

footer.page-footer{
   background-color: #eceff1;
}

.card-panel{
    box-shadow: 0 2px 5px 0 #ff7043, 0 2px 10px 0 #ff7043;
}

h1, h2, h3, h4, h5, h6{
    color: #006064;
}

.tabs{
    overflow-x: hidden;
}

a, .tabs .tab a, nav ul a, nav a{
    color: #bf360c;
}

a:hover, .tabs .tab a:hover{
    color: #006064;
}

#card1{
    box-shadow: 0 5px 11px 0 #01579b , 0 4px 15px 0 #01579b;
}

#card1 .card-title{
    color: #0d47a1;
}

#card2{
    box-shadow: 0 5px 11px 0 #1b5e20 , 0 4px 15px 0 #1b5e20;
}

#card2 .card-title{
    color: #1b5e20;
}

#card3{
    box-shadow: 0 5px 11px 0 #6a1b9a, 0 4px 15px 0 #6a1b9a;
}

#card3 .card-title{
    color: #6a1b9a;
}

#continentBox{
    margin-top: 1em;
}

.striped #contBody tr:nth-child(odd){
    background-color: #f3e5f5;
}

#continentBox thead tr th{
    color: #6a1b9a;

}

.btn{
    background-color: #bf360c;
}

.btn:hover{
    background-color: #006064;
}

input.select-dropdown{
    color: #006064;
}

.progress{
    background-color: #ff9e80;
}

.progress .indeterminate{
    background-color: #bf360c;
}

iframe{
    width: 100%;
    height: 800px;
}

.side-nav{
    z-index: 999;
    width: 190px;
    box-shadow: 0 2px 5px 0 #ff7043;
    background-color: #bf360c;
}

.side-nav.fixed a{
    color: white;
}

.side-nav.fixed a:hover{
    color: #006064;
}

main, footer {
    padding-left: 117px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}

footer.page-footer span{
    color: black;
}

body{
    background-color: #fafafa;
}

.side-nav.fixed li.active a{
    color: black;
}

#nav-mobile{
    top: inherit;
}

.side-nav li.active{
    border: solid 0.5px #ff7043;
}

#page-title{
    font-size: 34px;
    color: #006064;
}

#content{
    margin-top: 2%;
}

#card3Scroll{
    max-height: 720px;
    overflow-y: auto;
}

#card1 .striped #card1Content tr:nth-child(odd){
    background-color: #e3f2fd;
}

#deviceBox{
    font-size: 19px;
}