nav{
    color: #bf360c;
    background-color: #fff;
    margin-bottom: 2%;
    box-shadow: 0 2px 5px 0 #ff8a65;
}

nav .brand-logo{
    color: #bf360c;
}

footer.page-footer{
    background-color: #bf360c;
}

.card-panel{
    box-shadow: 0 2px 5px 0 #ff8a65, 0 2px 10px 0 #ff8a65;
}

h1, h2, h3, h4, h5, h6{
    color: #006064;
}

.tabs{
    overflow-x: hidden;
}

a, .tabs .tab a, nav ul a{
    color: #bf360c;
}

a:hover, .tabs .tab a:hover{
    color: #006064;
}

#card1{
    box-shadow: 0 5px 11px 0 #01579b , 0 4px 15px 0 #01579b;
}

#card1 .card-title{
    color: #0d47a1;
}

#card2{
    box-shadow: 0 5px 11px 0 #1b5e20 , 0 4px 15px 0 #1b5e20;
}

#card2 .card-title{
    color: #1b5e20;
}

#card3{
    box-shadow: 0 5px 11px 0 #6a1b9a, 0 4px 15px 0 #6a1b9a;
    max-height: 845px;
    overflow-x: auto;
}

#card3 .card-title{
    color: #6a1b9a;
}

#continentBox{
    margin-top: 1em;
}

.striped #contBody tr:nth-child(odd){
    background-color: #e1bee7;
}

#continentBox thead tr th{
    color: #6a1b9a;

}

.btn{
    background-color: #bf360c;
}

.btn:hover{
    background-color: #006064;
}

input.select-dropdown{
    color: #006064;
}

.progress{
    background-color: #ff9e80;
}

.progress .indeterminate{
    background-color: #bf360c;
}

iframe{
    width: 843px;
    height: 800px;
}